.is-invalid{
    border:red 1px solid;
}
h2{
    color:#33ef67;
    margin:auto;
    text-align: center;
    padding:5px;
}
label{
  color:dimgrey;
  
}
* {
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
    width:60%;
    margin:3% auto;
    box-shadow:0 0 5px dimgrey;
  }

  .margin-btm{
    margin-bottom:3%;
  }
  
  .btm-nav{
    text-align:center;
    background-color:#f1f1f1;
    padding:2%;
    color:dimgrey;
  }

  /* Full-width input fields */
  input[type=text], input[type=password],input[type=tel],input[type="email"] {
    border:2px solid lightgrey;
    padding:15px;
    width:95%;
    margin-top:10px;
    font-size:15pt;
  }
  .co{  
    width: 45%;
    padding: 15px;
    margin: 5px;
    /* border:1px solid red; */
    display: inline-block;
  }

  .sum{
    border:1px solid red;
  }

  .mid{
    margin:auto;
    text-align: center;
  }
  
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    font-size: 12pt;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* border red  validations effected*/
  .err{
    color:red;
  }

  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

